# Created by https://www.gitignore.io/api/assembler
# Edit at https://www.gitignore.io/?templates=assembler

### Assembler ###
*.exe
*.o
*.obj
*.bc
*.map
*.EXE
*.O
*.OBJ
*.BC
*.MAP
*.COM
# End of https://www.gitignore.io/api/assembler
